//
// arunimg.rc
//
// Copyright (c) Microsoft Corporation
// Reverse-engineered by github/masonleeback
//


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Autorun Wizard Image Resources"
#define VER_INTERNALNAME_STR            "ARunImg.dll"
#define VER_ORIGINALFILENAME_STR        "ARunImg.dll"

#include "common.ver"
#include "arunimg.h"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

IDB_LOGO            BITMAP          "img\\BITMAP203_1.bmp"
IDB_GOPRESSED       BITMAP          "img\\BITMAP207_1.bmp"
IDB_GONORMAL        BITMAP          "img\\BITMAP208_1.bmp"
IDB_GOHOVER         BITMAP          "img\\BITMAP209_1.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_AUTORUN ICON "ico\\autorun.ico"
IDI_WINDOWS ICON "ico\\windows.ico"
