//
// arunres.rc
//
// Copyright (c) Microsoft Corporation
// Reverse-engineered by github/masonleeback
//


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Setup Wizard Framework Resources"
#define VER_INTERNALNAME_STR            "spwizres.dll"
#define VER_ORIGINALFILENAME_STR        "spwizres.dll"

#include "common.ver"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

104 DIALOGEX 0, 0, 384, 30
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Nav Window"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
BEGIN
    CONTROL "&Back", 1014, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 12, 8, 40, 14
    CONTROL "", 1026, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 32, 14, 14, 14, WS_EX_TRANSPARENT
    CONTROL "Install Windows", 1024, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 14, 250, 8
    CONTROL "Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED, 341, 8, 50, 12
END

2000 DIALOGEX 0, 0, 181, 320
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Dialog"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Windows Help", 3001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 4, 135, 12
    CONTROL "", 2001, "{8856F961-340A-11D0-A96B-00C04FD705A2}", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 16, 171, 299
    CONTROL "Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 148, 65532, 30, 13
END

2002 DIALOGEX 0, 0, 350, 227
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Install Windows"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", 400, 0, 1
BEGIN
    CONTROL "Windows Deployment Services", 2023, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 10, 20, 180, 25
    CONTROL "", 2003, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 126, 26, 99, 64, WS_EX_TRANSPARENT
    CONTROL "", 2005, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 88, 126, 17
    CONTROL "", 2004, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 131, 91, 180, 111
    CONTROL "", 2006, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 108, 126, 17
    CONTROL "", 2007, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 131, 110, 180, 92
    CONTROL "", 2010, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 126, 126, 17
    CONTROL "", 2011, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 131, 129, 180, 73
    CONTROL "", 2022, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_GROUP, 5, 145, 126, 17
    CONTROL "", 2021, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 131, 148, 180, 54
    CONTROL "Enter your language and other preferences and click 'Next' to continue.", 2024, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 168, 330, 17
    CONTROL "", 1012, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 302, 188, 43, 13
    CONTROL "\xA9 2016 Microsoft Corporation. All rights reserved.", 2020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 196, 250, 14
END

2005 DIALOGEX 0, 0, 181, 320
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_DLGFRAME
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Help", 3006, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 3, 2, 15, 13
    CONTROL "Windows Help", 3001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 4, 135, 12
    CONTROL "", 1082, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 15, 172, 301
    CONTROL "Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 147, 65532, 30, 13
END

2009 DIALOGEX 0, 0, 291, 257
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Transfer Report"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
BEGIN
    CONTROL "Title", 3001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 4, 170, 8
    CONTROL "&Save", 1087, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 236, 50, 14
    CONTROL "&Print", 1088, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 236, 50, 14
    CONTROL "&OK", 1085, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 233, 236, 50, 14
    CONTROL "", 2001, "{8856F961-340A-11D0-A96B-00C04FD705A2}", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 15, 287, 217
    CONTROL "Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 259, 65532, 30, 13
END

2018 DIALOGEX 0, 0, 350, 227
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Select Language"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI", 400, 0, 1
BEGIN
    CONTROL "", 2003, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 126, 26, 99, 64, WS_EX_TRANSPARENT
    CONTROL "LangListing", 2019, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 95, 140, 60
    CONTROL "\xA9 2021 Microsoft Corporation. All rights reserved.", 2020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 209, 250, 14
END

3000 DIALOGEX 0, 0, 265, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Message Box"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", 3001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 280, 8
    CONTROL "", 3007, STATIC, SS_BITMAP | WS_CHILD, 18, 24, 16, 16
    CONTROL "", 3008, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 14, 15, 271, 67
    CONTROL "", 3009, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 38, 15, 246, 67
    CONTROL "", 3005, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 138, 88, 43, 11
    CONTROL "", 3003, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 188, 88, 43, 11
    CONTROL "", 3004, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 238, 88, 43, 11
    CONTROL "Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 258, 65532, 30, 13
END

3001 DIALOGEX 0, 0, 265, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Message Box"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", 3001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 4, 280, 8
    CONTROL "", 3007, STATIC, SS_BITMAP | WS_CHILD, 18, 24, 16, 16
    CONTROL "", 3008, "RichEdit50W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 14, 15, 271, 67
    CONTROL "", 3009, "RichEdit50W", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VSCROLL, 38, 15, 246, 67
    CONTROL "", 3005, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 138, 88, 43, 11
    CONTROL "", 3003, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 188, 88, 43, 11
    CONTROL "", 3004, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_DISABLED | WS_TABSTOP, 238, 88, 43, 11
    CONTROL "Cancel", 2, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 258, 65532, 30, 13
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    550, "Back"
    551, "Cancel"
    552, "&Next"
    553, "Help"
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    1000, "HTML Files (*.htm)\x00*.htm\x00All Files (*.*)\x00*.*"
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    2011, "My language is %s"
    2012, "Failed to set the selected language as the UI language. Please select some other language."
    2013, "The selected language is not supported. Please select some other language."
    2014, "Windows Setup"
    2015, "Languag&e to install: "
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    2016, "&Time and currency format: "
    2017, "&Keyboard or input method: "
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    3010, "OK"
    3011, "Cancel"
    3012, "&Yes"
    3013, "&No"
    3014, "&Retry"
    3015, "&Browse"
    3016, "No languages found in lang.ini"
    3017, "Ke&yboard Type: "
    3018, "&Continue"
    3019, "N&o"
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    3099, "&Locale: "
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    4000, "Korean PC/AT 101-Key Compatible Keyboard (Type 1)"
    4001, "Korean PC/AT 101-Key Compatible Keyboard (Type 2)"
    4002, "Korean PC/AT 101-Key Compatible Keyboard (Type 3)"
    4003, "Korean Keyboard (103/106 Key)"
    4004, "English Keyboard (101/102-Key)"
    4005, "Japanese Keyboard (106/109 Key)"
END
